.nav_button {
  > button {
    border-style: solid;
    border-color: $primary-color;
    border-radius: 80px;
    width: 80px;
  }
}

.main_button {
  border-style: solid;
  border-color: $primary-color;
  border-radius: 80px;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
}
